body {
  background-image: url("http://doges.tk/lib/doges/Mighty%20doge.jpg");
  background-color: #cccccc;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
  border-radius: 5px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.list-group-item {
  cursor: pointer;
  height: 129px;
}

.list-group-item:hover {
  background-color: #eee;
}

@media (max-width: 770px) {
  #video-list {
    padding-left: 15px;
  }
  .video-detail .details {
    margin-bottom: 10px;
  }
 }
